/*--------------------CSS RESET--------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Jura', sans-serif;
  scroll-behavior: smooth;
}

/*--------------------EFFECTS AND ANIMATION--------------------*/
/*Transition for header (h1)*/

#div-for-header{
  animation-name: headerAnimation;
  animation-duration: 1s;  
  animation-delay: .8s;
}

@keyframes headerAnimation{

0% {
    left: -50px;
    opacity: 0; 
    }
100% {
    left: 0px;
    opacity: 1;
    }
}

/*Visibility delay*/

#header{
  animation-name: headerAnimationVisibility;
  animation-delay: 0s;
  animation-duration: .8s;
}

@keyframes headerAnimationVisibility{

0% {
    opacity: 0;
    }
100% {
     opacity: 0;
    }
}


/*Transition for landing page description*/

#div-for-h5 {
  animation-name: landingPageAnimation;
  animation-duration: 1.5s; 
  animation-delay: 1s; 
}

@keyframes landingPageAnimation {

0% {
    left: 30px;
    opacity: 0; 
    }
100% {
    left: 0px;
    opacity: 1;
    }
}

/*Visibility delay*/

#landing-page-description{
  animation-name: landingPageAnimationVisibility;
  animation-delay: 0s;
  animation-duration: 1s;
}

@keyframes landingPageAnimationVisibility{

0% {
    opacity: 0;
    }
100% {
     opacity: 0;
    }
}

/*Transition for horizontal line*/

hr {
  animation-name: hrAnimation;
  animation-duration: 1.2s; 
  animation-delay: 1s; 
}

@keyframes hrAnimation {

0% {
    width: 0%;
    }
100% {
    width: 100%;
    }
}

/*Visibility delay*/

#div-for-hr{
  animation-name: hrAnimationVisibility;
  animation-delay: 0s;
  animation-duration: 1s;
}

@keyframes hrAnimationVisibility{

0% {
    opacity: 0;
    }
100% {
     opacity: 0;
    }
}

/*Transition for greetings and landing page message*/

#div-for-greetings {
  animation-name: greetingsAnimation;
  animation-duration: 1.3s;  
}

@keyframes greetingsAnimation {

0% {
    top: -25px;
    opacity: 0; 
    }
100% {
    top: 0px;
    opacity: 1;
    }
}

#div-for-p-message, #div-for-header-about{
  animation-name: messageAnimation;
  animation-duration: 1.5s;
  animation-delay: 1.5s;  
}

@keyframes messageAnimation {

0% {
    bottom: -25px;
    opacity: 0; 
    }
100% {
    bottom: 0px;
    opacity: 1;
    }
}

/*Visibility delay for landing page message only*/

#landing-page-message, #header-about{
  animation-name: landingPageMessageVisibility;
  animation-delay: 0s;
  animation-duration: 1.5s;
}

@keyframes landingPageMessageVisibility{

0% {
    opacity: 0;
    }
100% {
     opacity: 0;
    }
}

/*Transition for learn more only*/

#div-for-learn-more {
  animation-name: learnMoreAnimation;
  animation-duration: 1.5s; 
  animation-delay: 3s; 
}

@keyframes learnMoreAnimation {

0% {
    
    opacity: 0; 
    }
100% {
    
    opacity: 1;
    }
}

/*Visibility delay for learn more*/

#learn-more, #arrow-down{
  animation-name: learnMoreVisibility;
  animation-delay: 0s;
  animation-duration: 3s;
}

@keyframes learnMoreVisibility{

0% {
    opacity: 0;
    }
100% {
     opacity: 0;
    }
}



/*--------------------HOME SECTION--------------------*/
/*Type Selectors*/

h1, h5 {
	text-align: justify-all;
	color: white;
	padding-top:  1rem;
}

hr {
	border: .10px solid white;
	width: 17rem;
	margin-top: 30px;	
}

/*Class Selectors*/

/*Targeting navbar to customize*/
.navbar {
  background-color: #A8846A;
  padding-top: .20rem;
  padding-bottom: .20rem;
}

.navbar-toggler {
  padding: 0.10rem .25em;
}

.navbar-toggler-icon {
  width: 1em;
  height: 1em;
}

.jumbotron {
  margin-bottom: 0px;
  height: 120vh;
  background-image: url('./../images/landing-page-bg.png');
  background-size: cover;
  background-attachment: fixed; 
}

/*ID Selectors*/

#navbarSupportedContent {
  padding-top: .20rem;
  padding-bottom: .20rem;
}

#brand-logo {
  margin-left: 10px;
}

#div-for-greetings {
  display: flex;
  justify-content: center;
}

#greetings {
  text-align: justify-all;
  font-family: 'Jura', sans-serif;
  font-weight: normal;
  letter-spacing: 1.5px;
  padding-top: 0px;
  font-size: 1.5rem;
  margin-top: 43px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  
}

#landing-page-message {
  text-align: center;
  color: white;
  padding-top:  0rem;
  padding-left:  auto;
  padding-right:  auto;
  letter-spacing: 1.5px;
  font-size: 1.5rem;  
  width: 90%;

}

#landing-page-description {
  font-weight: normal;
  letter-spacing: 1.5px;
  padding-top: 0px;
  font-size: 1.5rem;
  margin-top: 44px;
  margin-left: -15px;
}

#div-for-hr {
  height: 55px;
}

#div-for-h5 {
  height: 100px;
}

#div-for-learn-more {
  margin-top: 5rem;
}

#learn-more {
  color: white;
  text-align: center;
  font-size: .8rem;
  margin-bottom: 0px; 
}

#arrow-down {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/*Combination Selectors*/

h1#header {
  font-family: 'Philosopher', sans-serif;
  font-weight: bolder;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
}

a, #brand-logo {
  font-size: 105%;  
}

/*--------------------ABOUT SECTION--------------------*/

/*Class Selectors*/

.about-description {
  padding: 0px;
  text-align: justify-all;
  color: black;
  letter-spacing: 1px;
  font-size: 1.1rem;  
}

.absolute-link {
  color: black;
}

.container-section {
  padding-top: 50px;
}

/*ID Selectors*/

#about {
  background-color: #E2D8CC;
  height: 100%;
  widows: auto;
}

#row-description {
  padding-bottom: 3rem;
}

/*Combination Selectors*/

img#my-image {
	width: 80%;
	margin: auto;
	border-radius: 50%;
}

/*--------------------PROJECT SECTION--------------------*/
/*Type Selectors*/

img {
  width: 10%;
}

/*Class Selectors*/

.actual-projects {
  text-align: center;
  padding-bottom: .5rem;
  margin-bottom: 0px;
  margin-top: 1.5rem;
  letter-spacing: 1px;
  font-size: 1.1rem;  
}

.btn-hover {
  border: none;
  transition: 0.5s;
}

.btn-hover:hover {
  opacity: 0.5;
}

/*ID Selectors*/

#project {
  background-color: #D4C1AA;
  height: 100%;
}

#row-project{
  margin-bottom: 1.5rem;
}

#project-description {w
  padding: 0px;
  text-align: justify-all;
  color: black;
  letter-spacing: 1px;
  font-size: 1.1rem;  
}

/*Combination Selectors*/

img.project-website {
	width: 100%;
	margin-bottom: auto;
	margin-top: auto;
}

h3#header-skills-technologies {
	text-align: center;
}

/*--------------------CONTACT SECTION--------------------*/
/*ID Selectors*/

#contact {
  height: 100%;
  background-color: #E2D8CC;
}

#contact-description {
  text-align: center;
  padding: 0px;
  text-align: justify-all;
  color: black;
  letter-spacing: 1px;
  font-size: 1.1rem;  
}

#row-contact {
  margin-bottom: 1.5rem;
}

#emailHelp {
  text-align: center;
}

#div-for-map {
  padding: auto;
  margin: auto;
}

#actual-map {
  width: 100%;
  padding-top: 20px;
}

/*Combination Selectors*/

h3#header-contact {
	text-align: center;
}

/*--------------------FOOTER SECTION--------------------*/
/*Class Selectors*/

.logo-media {
	padding-top: 50px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 1.5rem;
}

/*ID Selectors*/

#footer-section {
	height: 30vh;
	background-color: #A8846A;
}

#footer-message {
	font-size: .9rem;
}

/*--------------------COPYRIGHT SECTION--------------------*/











/*--------------------MEDIA QUERIES--------------------*/

/*Media Query for desktop size (Xtra-Large)*/
@media (min-width : 1200px) {


img#my-image {
	border-radius: 0px;
}

/*Contact section*/
/*Email*/
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 50px;
  
  left: 15%;
  font-size: 10px;
  opacity: 1;
}

.input-form {
  font-size: 14px;
  width: 100%;
  height: 50px;
}

.floating-label {
  position: absolute;
  top: 12%;
  left: 15%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Username*/
input:focus ~ .floating-label-username,
input:not(:focus):valid ~ .floating-label-username{
  top: 29%;
  
  left: 15%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-username{
  position: absolute;
  top: 30%;
  left: 15%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Contact number*/
input:focus ~ .floating-label-contact,
input:not(:focus):valid ~ .floating-label-contact{
  top: 47%;
  
  left: 15%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-contact{
  position: absolute;
  top: 48%;
  left: 15%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Message*/
textarea:focus ~ .floating-label-message,
textarea:not(:focus):valid ~ .floating-label-message{
  top: 65%;
  
  left: 15%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-message{
  position: absolute;
  top: 66%;
  left: 15%;
  pointer-events: none;
  transition: 0.2s ease all;
}

}


/*Media Query for desktop size (Large)*/
@media (min-width : 992px)and (max-width: 1199px) {

/*Home section*/
.display-2 {
    font-size: 70px;
}

#landing-page-description{
  margin-top: 38px;
}

/*About section*/
img#my-image {
	border-radius: 0px;
}

/*Contact section*/
/*Email*/
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 50px;
  
  left: 8%;
  font-size: 10px;
  opacity: 1;
}

.input-form {
  font-size: 14px;
  width: 100%;
  height: 50px;
}

.floating-label {
  position: absolute;
  top: 12%;
  left: 8%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Username*/
input:focus ~ .floating-label-username,
input:not(:focus):valid ~ .floating-label-username{
  top: 29%;
  
  left: 8%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-username{
  position: absolute;
  top: 30%;
  left: 8%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Contact number*/
input:focus ~ .floating-label-contact,
input:not(:focus):valid ~ .floating-label-contact{
  top: 47%;
  
  left: 8%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-contact{
  position: absolute;
  top: 48%;
  left: 8%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Message*/
textarea:focus ~ .floating-label-message,
textarea:not(:focus):valid ~ .floating-label-message{
  top: 65%;
  
  left: 8%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-message{
  position: absolute;
  top: 66%;
  left: 8%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*--------------------EFFECTS AND ANIMATION--------------------*/
/*Transition for header (h1)*/

 #div-for-header{
  animation-name: headerAnimation;
  animation-duration: 1.5s;  
  animation-delay: .8s;
}

@keyframes headerAnimation{

0% {
    left: -30px;
    opacity: 0; 
    }
100% {
    left: 0px;
    opacity: 1;
    }
}


/*Transition for landing page description*/

#div-for-h5 {
  animation-name: landingPageAnimation;
  animation-duration: 1.5s; 
  animation-delay: 1s; 

}

@keyframes landingPageAnimation {

0% {
    left: 15px;
    opacity: 0; 
    }
100% {
    left: 0px;
    opacity: 1;
    }
}

}

/*Media Query for tablet size*/
@media (min-width : 768px) and (max-width: 991px) {
/*Home section*/
.display-2 {
  	font-size: 50px;
}

#div-for-h5 {
  	margin-top: -50px;
}

#landing-page-description {
	margin-top: 75px;
	margin-left: -50px;
	font-size: 1.3rem;
}

#landing-page-message, #greetings {
  
  font-size: 1.3rem;
  
}

hr {
	width: 5rem;
	margin-top: 32px;
	margin-left: -50px;
}

 /*About section*/
  img#my-image {
	width: 30%;
	margin-bottom: 2rem;
}

.about-description {
	font-size: 1rem;	
	text-align: center;
	line-height: 1.4rem;
}

/*Project section*/
img {
	width: 15%;
}

/*Contact section*/

/*Email*/
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 10.5%;
  
  left: 22%;
  font-size: 10px;
  opacity: 1;
}

.floating-label {
  position: absolute;
  top: 12%;
  left: 22%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Username*/
input:focus ~ .floating-label-username,
input:not(:focus):valid ~ .floating-label-username{
  top: 27%;
  
  left: 22%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-username{
  position: absolute;
  top: 28%;
  left: 22%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Contact number*/
input:focus ~ .floating-label-contact,
input:not(:focus):valid ~ .floating-label-contact{
  top: 43.3%;
  
  left: 22%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-contact{
  position: absolute;
  top: 44.5%;
  left: 22%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Message*/
textarea:focus ~ .floating-label-message,
textarea:not(:focus):valid ~ .floating-label-message{
  top: 60%;
  
  left: 22%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-message{
  position: absolute;
  top: 61%;
  left: 22%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*--------------------EFFECTS AND ANIMATION--------------------*/
/*Transition for header (h1)*/

 #div-for-header{
  animation-name: headerAnimation;
  animation-duration: 1.5s;  
  animation-delay: .8s;
}

@keyframes headerAnimation{

0% {
    left: -30px;
    opacity: 0; 
    }
100% {
    left: 0px;
    opacity: 1;
    }
}


/*Transition for landing page description*/

#div-for-h5 {
  animation-name: landingPageAnimation;
  animation-duration: 1.5s; 
  animation-delay: 1s; 
}

@keyframes landingPageAnimation {

0% {
    left: 15px;
    opacity: 0; 
    }
100% {
    left: 0px;
    opacity: 1;
    }
}

}


/*Media Query for specific size 576px - 767px*/

@media (min-width : 576px) and (max-width: 767px) {
/*Home section*/

#greetings {
  margin-top: 6rem;
}
.display-2 {
    font-size: 50px;
}

#div-for-h5 {
    margin-top: -50px;
}

#landing-page-description {
  margin-top: 75px;
  text-align: center;
  margin-left: auto;
  font-size: 1.3rem;
}

#landing-page-message, #greetings {
  
  font-size: 1.3rem;
}

hr {
  width: 15rem;
  margin-top: 32px;
  text-align: center;
}

 /*About section*/
  img#my-image {
  width: 30%;
  margin-bottom: 2rem;
}
/*Contact section*/

/*Email*/
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 10.5%;
  
  left: 12%;
  font-size: 10px;
  opacity: 1;
}

.floating-label {
  position: absolute;
  top: 11.5%;
  left: 12%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Username*/
input:focus ~ .floating-label-username,
input:not(:focus):valid ~ .floating-label-username{
  top: 27%;
  
  left: 12%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-username{
  position: absolute;
  top: 28%;
  left: 12%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Contact number*/
input:focus ~ .floating-label-contact,
input:not(:focus):valid ~ .floating-label-contact{
  top: 43.3%;
  
  left: 12%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-contact{
  position: absolute;
  top: 44.5%;
  left: 12%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Message*/
textarea:focus ~ .floating-label-message,
textarea:not(:focus):valid ~ .floating-label-message{
  top: 60%;
  
  left: 12%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-message{
  position: absolute;
  top: 61%;
  left: 12%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*--------------------EFFECTS AND ANIMATION--------------------*/
/*Transition for header (h1)*/

 #div-for-header{
  animation-name: headerAnimation;
  animation-duration: 1.5s;  
  animation-delay: .8s;
}

@keyframes headerAnimation{

0% {
    left: -30px;
    opacity: 0; 
    }
100% {
    left: 0px;
    opacity: 1;
    }
}


/*Transition for landing page description*/

#div-for-h5 {
  animation-name: landingPageAnimation;
  animation-duration: 1.5s; 
  animation-delay: 1s; 
}

@keyframes landingPageAnimation {

0% {
    left: 15px;
    opacity: 0; 
    }
100% {
    left: 0px;
    opacity: 1;
    }
}

/*Transition for horizontal line*/

hr {
  animation-name: hrAnimation;
  animation-duration: 1.2s; 
  animation-delay: 1s; 
}

@keyframes hrAnimation {

0% {
    width: 0%;
    }
100% {
    width: 15rem;
    }
}

}


/*Media Query for specific size 460px - 575px*/

@media (min-width : 460px) and (max-width: 575px) {
/*Home section*/

#greetings {
  margin-top: 6rem;
}
.display-2 {
    font-size: 50px;
}

#div-for-h5 {
    margin-top: -50px;
}

#landing-page-description {
  margin-top: 75px;
  text-align: center;
  margin-left: auto;
  font-size: 1.3rem;
}

#landing-page-message, #greetings {
  
  font-size: 1.3rem;
  
}

hr {
  width: 15rem;
  margin-top: 32px;
  text-align: center;
}

 /*About section*/
  img#my-image {
  width: 30%;
  margin-bottom: 2rem;
}
/*Contact section*/

/*Email*/
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 10.5%;
  
  left: 8%;
  font-size: 10px;
  opacity: 1;
}

.floating-label {
  position: absolute;
  top: 11.5%;
  left: 9.5%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Username*/
input:focus ~ .floating-label-username,
input:not(:focus):valid ~ .floating-label-username{
  top: 27%;
  
  left: 8%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-username{
  position: absolute;
  top: 28%;
  left: 9.5%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Contact number*/
input:focus ~ .floating-label-contact,
input:not(:focus):valid ~ .floating-label-contact{
  top: 43.3%;
  
  left: 8%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-contact{
  position: absolute;
  top: 44.5%;
  left: 9.5%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Message*/
textarea:focus ~ .floating-label-message,
textarea:not(:focus):valid ~ .floating-label-message{
  top: 60%;
  
  left: 8%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-message{
  position: absolute;
  top: 61%;
  left: 9.5%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*--------------------EFFECTS AND ANIMATION--------------------*/
/*Transition for header (h1)*/

#div-for-header{
  animation-name: headerAnimation;
  animation-duration: 1.5s;  
  animation-delay: .8s;
}

@keyframes headerAnimation{

0% {
    left: -30px;
    opacity: 0; 
    }
100% {
    left: 0px;
    opacity: 1;
    }
}


/*Transition for landing page description*/

#div-for-h5 {
  animation-name: landingPageAnimation;
  animation-duration: 1.5s; 
  animation-delay: 1s; 
}

@keyframes landingPageAnimation {

0% {
    
    opacity: 0; 
    }
100% {
    
    opacity: 1;
    }
}

/*Transition for horizontal line*/

hr {
  animation-name: hrAnimation;
  animation-duration: 1.2s; 
  animation-delay: 1s; 
}

@keyframes hrAnimation {

0% {
    width: 0%;
    }
100% {
    width: 15rem;
    }
}

}


/*Media Query for mobile size (small)*/
@media (max-width: 459px) {
/*Home section*/

#greetings {
  margin-top: 6rem;
}
.display-2 {
    font-size: 40px;
}

#div-for-h5 {
    margin-top: -50px;
}

#landing-page-description {
  margin-top: 75px;
  text-align: center;
  margin-left: auto;
  font-size: 1.1rem;
}

#landing-page-message, #greetings {
  
  font-size: 1.1rem;
  
}

hr {
  width: 15rem;
  margin-top: 32px;
  text-align: center;
}

 /*About section*/
  img#my-image {
  width: 40%;
  margin-bottom: 2rem;
}

.about-description {
	font-size: .9rem;	
	text-align: center;
	line-height: 1.3rem;
}

#row-about{
	margin-top: -30px;
}

/*Project section*/

#row-project{
	margin-top: -30px;
}

#row-skills-technologies{
	margin-top: -30px;
}

#project-description {
	font-size: .9rem;	
	text-align: center;
	line-height: 1.3rem;
}

img {
	width: 20%;
}

/*Contact section*/

#contact-description {
	font-size: .9rem;	
	text-align: center;
	line-height: 1.3rem;
}
/*Email*/
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 14%;
  
  left: 7%;
  font-size: 10px;
  opacity: 1;
}

.floating-label {
  position: absolute;
  top: 15%;
  left: 8%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Username*/
input:focus ~ .floating-label-username,
input:not(:focus):valid ~ .floating-label-username{
  top: 29.8%;
  
  left: 7%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-username{
  position: absolute;
  top: 31%;
  left: 8%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Contact number*/
input:focus ~ .floating-label-contact,
input:not(:focus):valid ~ .floating-label-contact{
  top: 45.5%;
  
  left: 7%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-contact{
  position: absolute;
  top: 46%;
  left: 8%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Message*/
textarea:focus ~ .floating-label-message,
textarea:not(:focus):valid ~ .floating-label-message{
  top: 61.2%;
  
  left: 7%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-message{
  position: absolute;
  top: 61.5%;
  left: 8%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Transition for landing page description*/

#div-for-h5 {
  animation-name: landingPageAnimation;
  animation-duration: 1.5s; 
  animation-delay: 1s; 
}

@keyframes landingPageAnimation {

0% {
    
    opacity: 0; 
    }
100% {
    
    opacity: 1;
    }
}

/*Transition for horizontal line*/

hr {
  animation-name: hrAnimation;
  animation-duration: 1.2s; 
  animation-delay: 1s; 
}

@keyframes hrAnimation {

0% {
    width: 0%;
    }
100% {
    width: 15rem;
    }
}



}

/*Media Query for mobile size (specific size*/
@media (min-width: 456px) and (max-width: 459px) {
/*Email*/
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 10%;
  
  left: 5%;
  font-size: 10px;
  opacity: 1;
}

.floating-label {
  position: absolute;
  top: 10%;
  left: 5%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Username*/
input:focus ~ .floating-label-username,
input:not(:focus):valid ~ .floating-label-username{
  top: 26.5%;
  
  left: 5%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-username{
  position: absolute;
  top: 27%;
  left: 5%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Contact number*/
input:focus ~ .floating-label-contact,
input:not(:focus):valid ~ .floating-label-contact{
  top: 43%;
  
  left: 5%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-contact{
  position: absolute;
  top: 43%;
  left: 5%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Message*/
textarea:focus ~ .floating-label-message,
textarea:not(:focus):valid ~ .floating-label-message{
  top: 60%;
  
  left: 5%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-message{
  position: absolute;
  top: 60%;
  left: 5%;
  pointer-events: none;
  transition: 0.2s ease all;
}

}

/*Media Query for mobile size (specific size 500-575*/
@media (min-width: 500px) and (max-width: 575px) {
/*Email*/
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 10%;
  
  left: 13.5%;
  font-size: 10px;
  opacity: 1;
}

.floating-label {
  position: absolute;
  top: 10%;
  left: 13.5%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Username*/
input:focus ~ .floating-label-username,
input:not(:focus):valid ~ .floating-label-username{
  top: 26.5%;
  
  left: 13.5%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-username{
  position: absolute;
  top: 27%;
  left: 13.5%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Contact number*/
input:focus ~ .floating-label-contact,
input:not(:focus):valid ~ .floating-label-contact{
  top: 43%;
  
  left: 13.5%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-contact{
  position: absolute;
  top: 43%;
  left: 13.5%;
  pointer-events: none;
  transition: 0.2s ease all;
}

/*Message*/
textarea:focus ~ .floating-label-message,
textarea:not(:focus):valid ~ .floating-label-message{
  top: 60%;
  
  left: 13.5%;
  font-size: 10px;
  opacity: 1;
}

.floating-label-message{
  position: absolute;
  top: 60%;
  left: 13.5%;
  pointer-events: none;
  transition: 0.2s ease all;
}

}